* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Inicio del Header-NAV */
.top-pagina {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom: 2px solid #000;
  z-index: 1000;
}

.elementos-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.elementos-nav li a {
  text-decoration: none;
  color: #000;
}
.elementos-nav li a:hover {
  animation: 0.5s ease forwards animacion-link;
}

@keyframes animacion-link {
  100% {
    border-bottom: 1px solid #000;
    background: #eee;
  }
}

.desplegable {
  padding: 15px;
  border: 2px solid #fff;
}

.dropdown {
  display: none;
  background: #fff;
  border: 2px solid #000;
  margin-top: 15px;
  width: 200px;
  position: absolute;
  text-align: left;
}

.dropdown li {
  padding: 5px 10px 10px 20px;
}

/* Fin del Header-NAV */

main {
  margin-top: 70px;
}
.contenedor
 {
  padding: 20px 10%;
}
.contenedor header {
  font-style: italic;
  color: #777;
  margin-bottom: 10px;
}
.cont-cartas {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  background: #eee;
}
.cont-cartas h4 {
  text-align: center;
}

.container-title {
  height: calc(100dvh - 70px);
}

.container-title-primero {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: column;
  background-image: url(media/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid #000;
}

.texto-titulo {
  text-align: center;
  margin-bottom: 20px;
}
.texto-titulo h2 {
  font-size: 2.5rem;
  color: #fff;
}
.texto-titulo p {
  font-size: 1.2rem;
  color: #999;
}

.link-vermas {
  padding: 10px 3%;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  margin-bottom: 25px;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}

.container-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background: #eee;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.info-imagenes {
  border: 2px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-media article {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container-media article header {
  font-size: 1.2rem;
  font-weight: 600;
}
.container-media article small {
  color: #777;
}
article figure {
  display: flex;
  border: 2px solid #000;
}
.imagen-ejemplo {
  object-fit: contain;
  width: 500px;
}

.container-info article {
  padding: 2%;
  border: 2px solid #000;
}
.container-info article header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.container-info article p {
  margin-top: 10px;
}
.container-info article a {
  color: #000;
}
.container-info article a:hover {
  animation: 0.5s ease forwards animacion-link;
}

.sec-video a {
  color: #000;
  font-weight: 600;
}
.sec-video a:hover {
  animation: 0.5s ease forwards animacion-link;
}
code {
  background-color: #eee;
  border: 1px solid #000;
}
.video-src {
  width: 100%;
  height: 500px;
}
.sec-video {
  display: flex;
  flex-direction: column;
  gap: 20px
}
figcaption {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  padding: 10px;
}
.sec-video h2 {
  font-size: 1.5rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

.header-ultimo {
  font-style: italic;
  color: #777;
}

.container-cartas {
  display: flex;
  justify-content: space-between;
}
.tarjeta {
  display: flex;
  align-items: flex-end;
  background-color: #777;
  width: 30%;
  border: 2px solid #000;
}
.tarjeta span {
  padding: 10px;
  background-color: #eee
}
.tarjeta:not(.segunda-carta) span {
  border-top: 2px solid #000;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border-top: 2px solid #000;
  background: #ccc;
  padding: 40px;
  width: 100%;
}
.f-centro a {
  color: #000;
  font-weight: 600;
}
